@model System.Exception

@{
    ViewBag.Title = "Erro";
}

<h1 class="text-danger">Erro.</h1>
<h2 class="text-danger">Ocorreu um erro ao processar a solicitação.</h2>

<p>
    Exception: <b>@Model.GetType().FullName</b><br />
    Message: <b>@Model.Message</b><br />
    StackTrace: <b>@Model.StackTrace</b><br />
</p>